body {
    padding-top: 50px;
}

.logged_in, .in_game, .not_anonymous, #upload_map_screen2 {
    display: none;
}

.unlocked {
    margin-left: 15px
}

.select_game:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

#chat {
    max-height: 300px;
    overflow: auto;
}

#map_container {
    position: relative;
}

#game_field {
    overflow: hidden;
}

#connected, #select_server {
    display: none;
}

#select_server {
    text-align: center;
}

#lobby_menu {
    min-width: 206px;
}

.player_label {
    font-family: Tahoma;
    position: absolute;
    padding: 1px 3px;

    background-color: black;
    color: white;
    font-size: 11px;
    z-index: 10000;
}

.player_label.current_player {
    background-color: white;
    color: black;
}

#create_game_map_preview {
    height: 600px;
    width: 770px;
    margin-top: 10px;
}

#selected_tile {
    margin-left: 3px;
}
